CREATE DATABASE QL_VESO
GO
USE QL_VESO
GO

CREATE TABLE TYPE_LOTTERY(
	ID_TYPE			VARCHAR(10),	
	CHANNEL			NVARCHAR(200),
	PRIMARY KEY(ID_TYPE)
)
GO
CREATE TABLE AGENCY(
	ID_AGENCY	VARCHAR(10),
	NAME_AGENCY	NVARCHAR(200),
	ADDR		NVARCHAR(300),
	NUMPHONE	VARCHAR(11),
	ACTIVATE	INT
	PRIMARY KEY(ID_AGENCY)
)
GO
CREATE TABLE DEAL(
	ID_TYPE				VARCHAR(10),
	ID_AGENCY			VARCHAR(10),
	QUANTITY_RECEIVE		INT,
	QUANTITY_SELL		INT,
	DATE_RECEIVE		DATETIME,
	COMMISSION			FLOAT
	PRIMARY KEY(ID_TYPE,ID_AGENCY)
)	
GO
CREATE TABLE SIGNUP_LOTTERY(
	ID_SIGN				VARCHAR(10),
	ID_AGENCY			VARCHAR(10),
	DATE_SIGN			DATETIME,
	QUANTITY_SIGN		INT
	PRIMARY KEY(ID_SIGN)
)
GO
CREATE TABLE RECEIPTS(
	ID_RECEIPTS			VARCHAR(10),
	ID_AGENCY			VARCHAR(10),
	DATE_RECEIPTS		DATETIME,
	PAYMENT				FLOAT,
	PRIMARY KEY(ID_RECEIPTS)
)
GO
CREATE TABLE RESULT_LOTTERY(
	ID_RESULT			VARCHAR(10),
	ID_TYPE				VARCHAR(10),
	ID_PRIZE			VARCHAR(10),	
	DATE_RESULT			DATETIME,
	NUMBER_WIN			VARCHAR(6)
	PRIMARY KEY(ID_RESULT)		
)
GO
CREATE TABLE PRIZE(
	ID_PRIZE		VARCHAR(10),
	NAME_PRIZE		NVARCHAR(200),
	REWARD			FLOAT
	PRIMARY KEY(ID_PRIZE)	
)
GO

ALTER TABLE DEAL
ADD CONSTRAINT FK_DEAL_TYPE_LOTTERY
FOREIGN KEY (ID_TYPE) REFERENCES TYPE_LOTTERY(ID_TYPE)
GO
ALTER TABLE DEAL
ADD CONSTRAINT FK_DEAL_AGENCY
FOREIGN KEY (ID_AGENCY) REFERENCES AGENCY(ID_AGENCY)
GO
ALTER TABLE RESULT_LOTTERY
ADD CONSTRAINT FK_RESULT_LOTTERY_TYPE_LOTTERY
FOREIGN KEY (ID_TYPE) REFERENCES TYPE_LOTTERY(ID_TYPE)
GO
ALTER TABLE RESULT_LOTTERY
ADD CONSTRAINT FK_RESULT_LOTTERY_PRIZE
FOREIGN KEY (ID_PRIZE) REFERENCES PRIZE(ID_PRIZE)
GO
ALTER TABLE RECEIPTS
ADD CONSTRAINT FK_RECEIPTS_AGENCY
FOREIGN KEY (ID_AGENCY) REFERENCES AGENCY(ID_AGENCY)
GO
ALTER TABLE SIGNUP_LOTTERY
ADD CONSTRAINT FK_SIGNUP_LOTTERY_AGENCY
FOREIGN KEY (ID_AGENCY) REFERENCES AGENCY(ID_AGENCY)
GO


/******************************************STORE PROCEDURE********************************/
/*FUNCTION LOADDATA*/
CREATE PROCEDURE load_TYPE_LOTTERY
AS
BEGIN
	SELECT * FROM TYPE_LOTTERY
END

GO



/*FUNCTION INSERT*/

CREATE PROCEDURE insert_TYPE_LOTTERY	
	@CHANNEL			NVARCHAR(200)
AS
BEGIN
	DECLARE @count INT
	DECLARE @ID_TYPE	VARCHAR(10)	
	DECLARE @NUMBER		INT
	SELECT @count = COUNT(*) FROM TYPE_LOTTERY
	IF @count = 0
		BEGIN
			SET @ID_TYPE = 'LOT001'
			INSERT INTO TYPE_LOTTERY (ID_TYPE,CHANNEL) VALUES (@ID_TYPE,@CHANNEL)
		END
	ELSE
		BEGIN
			SELECT TOP 1 @ID_TYPE = SUBSTRING(ID_TYPE, 4, LEN(ID_TYPE)-3) FROM TYPE_LOTTERY ORDER BY ID_TYPE DESC
			SET @NUMBER = CAST(@ID_TYPE AS INT)
			SET @NUMBER = @NUMBER + 1			
			IF @NUMBER < 10
				SET @ID_TYPE = 'LOT00'+ (CAST(@NUMBER AS VARCHAR))
			ELSE IF @NUMBER <100
				SET @ID_TYPE = 'LOT0'+ (CAST(@NUMBER AS VARCHAR))
			ELSE
				SET @ID_TYPE = 'LOT'+ (CAST(@NUMBER AS VARCHAR))
			INSERT INTO TYPE_LOTTERY VALUES (@ID_TYPE,@CHANNEL)
		END
END
GO

EXEC insert_TYPE_LOTTERY 'Tezt'
/*FUNCTION EDIT*/

CREATE PROCEDURE edit_TYPE_LOTTERY
	@ID_TYPE			VARCHAR(10),
	@CHANNEL			NVARCHAR(200)
AS
BEGIN
	UPDATE TYPE_LOTTERY SET CHANNEL = @CHANNEL WHERE ID_TYPE = @ID_TYPE
END
GO


/*FUNCTION FIND*/
CREATE PROCEDURE find_TYPE_LOTTERY
	@SEARCH_BY		NVARCHAR(50),
	@VALUE			NVARCHAR(600)
AS
BEGIN
	IF @SEARCH_BY = 'ID_TYPE'
		SELECT * FROM TYPE_LOTTERY WHERE ID_TYPE = @VALUE
END
GO

/*FUNCTION DELETE*/
CREATE PROCEDURE delete_TYPE_LOTTERY
	@ID_TYPE			VARCHAR(10)
AS
BEGIN
	DELETE FROM TYPE_LOTTERY WHERE ID_TYPE=@ID_TYPE
END

EXEC delete_TYPE_LOTTERY 'LOT004'

/* AGENCY */
/* FUNCTION LOAD DATA */
CREATE PROCEDURE load_AGENCY
AS
BEGIN
	SELECT * FROM AGENCY
END

GO
/* FUNCTION INSERT */

CREATE PROCEDURE insert_AGENCY	
	@NAME_AGENCY	NVARCHAR(200),
	@ADDR			NVARCHAR(300),
	@NUMPHONE		VARCHAR(11),
	@ACTIVATE		INT
AS
BEGIN
	DECLARE @count INT
	DECLARE @ID_AGENCY	VARCHAR(10)	
	DECLARE @NUMBER		INT
	SELECT @count = COUNT(*) FROM AGENCY
	IF @count = 0
		BEGIN
			SET @ID_AGENCY = 'DL01'
			INSERT INTO AGENCY (ID_AGENCY,NAME_AGENCY,ADDR,NUMPHONE,ACTIVATE) VALUES (@ID_AGENCY,@NAME_AGENCY,@ADDR,@NUMPHONE,@ACTIVATE)
		END
	ELSE
		BEGIN
			SELECT TOP 1 @ID_AGENCY = SUBSTRING(ID_AGENCY, 3, LEN(ID_AGENCY)-2) FROM AGENCY ORDER BY ID_AGENCY DESC
			SET @NUMBER = CAST(@ID_AGENCY AS INT)
			SET @NUMBER = @NUMBER + 1			
			IF @NUMBER < 10
				SET @ID_AGENCY = 'DL0'+ (CAST(@NUMBER AS VARCHAR))
			ELSE
				SET @ID_AGENCY = 'DL'+ (CAST(@NUMBER AS VARCHAR))
			INSERT INTO AGENCY VALUES (@ID_AGENCY,@NAME_AGENCY,@ADDR,@NUMPHONE,@ACTIVATE)
		END
END
GO

EXEC insert_AGENCY 'Test','Test','Test',1;
SELECT COUNT(*) FROM AGENCY;
/* FUNCTION EDIT */

CREATE PROCEDURE edit_AGENCY
	@ID_AGENCY			VARCHAR(10),
	@NAME_AGENCY		NVARCHAR(200),
	@ADDR				NVARCHAR(300),
	@NUMPHONE			VARCHAR(11),
	@ACTIVATE			INT
AS
BEGIN
	UPDATE AGENCY SET NAME_AGENCY = @NAME_AGENCY, ADDR = @ADDR, NUMPHONE = @NUMPHONE, ACTIVATE = @ACTIVATE WHERE ID_AGENCY = @ID_AGENCY
END
GO
/* FUNCTION FIND */
CREATE PROCEDURE find_AGENCY
	@SEARCH_BY		NVARCHAR(50),
	@VALUE			NVARCHAR(600)
AS
BEGIN
	IF @SEARCH_BY = 'ID_AGENCY'
		SELECT * FROM AGENCY WHERE ID_AGENCY = @VALUE
END
GO
/* FUNCTION DELETE */
CREATE PROCEDURE delete_AGENCY
	@ID_AGENCY			VARCHAR(10)
AS
BEGIN
	DELETE FROM AGENCY WHERE ID_AGENCY=@ID_AGENCY
END

/* ------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO TYPE_LOTTERY VALUES ('LOT001',N'Xổ số Miền Nam');
INSERT INTO TYPE_LOTTERY VALUES ('LOT002',N'Xổ số Kiên Giang');
INSERT INTO TYPE_LOTTERY VALUES ('LOT003',N'Xổ số Lâm Đồng');
INSERT INTO TYPE_LOTTERY VALUES ('LOT004',N'Xổ số Tiền Giang');
INSERT INTO TYPE_LOTTERY VALUES ('LOT005',N'Xổ số Cà Mau');
INSERT INTO TYPE_LOTTERY VALUES ('LOT006',N'Xổ số Đồng Tháp');
INSERT INTO TYPE_LOTTERY VALUES ('LOT007',N'Xổ số TP.HCM');
INSERT INTO TYPE_LOTTERY VALUES ('LOT008',N'Xổ số Bạc Liêu');
INSERT INTO TYPE_LOTTERY VALUES ('LOT009',N'Xổ số Bến Tre');
INSERT INTO TYPE_LOTTERY VALUES ('LOT010',N'Xổ số Vũng Tàu');
INSERT INTO TYPE_LOTTERY VALUES ('LOT011',N'Xổ số Miền Bắc');
INSERT INTO TYPE_LOTTERY VALUES ('LOT012',N'Xổ số Miền Trung');
INSERT INTO TYPE_LOTTERY VALUES ('LOT013',N'Xổ số Kon Tum');
INSERT INTO TYPE_LOTTERY VALUES ('LOT014',N'Xổ số Khánh Hòa');
INSERT INTO TYPE_LOTTERY VALUES ('LOT015',N'Xổ số Phú Yên');
INSERT INTO TYPE_LOTTERY VALUES ('LOT016',N'Xổ số Thừa Thiên Huế');
INSERT INTO TYPE_LOTTERY VALUES ('LOT017',N'Xổ số Đắk Lắk');
INSERT INTO TYPE_LOTTERY VALUES ('LOT018',N'Xổ số Đà Nẵng');
INSERT INTO TYPE_LOTTERY VALUES ('LOT019',N'Xổ số Quảng Nam');
INSERT INTO TYPE_LOTTERY VALUES ('LOT020',N'Xổ số Bình Định');

INSERT INTO AGENCY VALUES ('DL01',N'Thành Các',N'75 Minh Phụng, Phường 9, Quận 6','02839695273',1);
INSERT INTO AGENCY VALUES ('DL02',N'Minh Ngọc',N'23 Cách Mạng Tháng 8, Phường 12, Quận 10','02839252755',1);
INSERT INTO AGENCY VALUES ('DL03',N'Bùi Văn Nghĩa',N'6/1 Đinh Bộ Lĩnh - Phường 8 - TP. Mỹ Tho - Tỉnh Tiền Giang','0908919219 ',0);
INSERT INTO AGENCY VALUES ('DL04',N'Cao Mộng Hùng ',N' 59 Duy Tân - KP Lộc Thành - Thị Trấn Trảng Bàng - Huyện Trảng Bàng - Tỉnh Tây Ninh','0913984369 ',0);
INSERT INTO AGENCY VALUES ('DL05',N'Đặng Minh Sơn',N'6/1 Đinh Bộ Lĩnh - Phường 8 - TP. Mỹ Tho - Tỉnh Tiền Giang','0908614439',0);
INSERT INTO AGENCY VALUES ('DL06',N'Bùi Văn Nghĩa',N'31 Cách Mạng Tháng Tám - P.3 - TP. Bến Tre - Tỉnh Bến Tre','0908919219',0);
INSERT INTO AGENCY VALUES ('DL07',N'Đỗ Thị Thùy Liên',N'170 QL 56, xã Hòa Long, Tp. Bà Rịa','0936005601',1);
INSERT INTO AGENCY VALUES ('DL08',N'Đoàn Thái Thanh',N'23/8 Lê Đức Thọ - Phường 16 - Quận Gò Vấp - TP. Hồ Chí Minh','0913751932',1);
INSERT INTO AGENCY VALUES ('DL09',N'Đoàn Thị Quyến',N'Chợ Mỹ Xuân, H.Tân Thành','0908919219 ',0);
INSERT INTO AGENCY VALUES ('DL10',N'Hà Thị Thùy Trang',N'F56/8B - Ấp Hiệp An - Xã Hiệp Tân - H.Hòa Thành - Tây Ninh','0948365194',1);

INSERT INTO DEAL VALUES ('LOT001','DL01',100,100,'08-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL02',100,100,'01-29-2018',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL03',100,100,'03-10-2016',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL04',100,100,'05-11-2018',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL05',100,100,'06-27-2015',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL06',100,100,'08-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL07',100,100,'08-01-2018',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL08',100,100,'09-25-2018',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL09',100,100,'12-17-2016',0.1);
INSERT INTO DEAL VALUES ('LOT001','DL10',100,100,'12-18-2018',0.1);

INSERT INTO DEAL VALUES ('LOT002','DL04',100,100,'09-29-2017',0.1);
INSERT INTO DEAL VALUES ('LOT002','DL05',100,100,'09-11-2017',0.1);

INSERT INTO DEAL VALUES ('LOT003','DL08',100,100,'08-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT0S03','DL09',100,100,'08-08-2016',0.1);

INSERT INTO DEAL VALUES ('LOT004','DL01',100,100,'01-03-2018',0.1);
INSERT INTO DEAL VALUES ('LOT004','DL04',100,100,'02-05-2018',0.1);
INSERT INTO DEAL VALUES ('LOT004','DL08',100,100,'06-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT004','DL09',100,100,'07-22-2016',0.1);

INSERT INTO DEAL VALUES ('LOT005','DL05',100,100,'09-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT005','DL06',100,100,'09-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT005','DL09',100,100,'09-30-2018',0.1);

INSERT INTO DEAL VALUES ('LOT006','DL04',100,100,'08-11-2016',0.1);
INSERT INTO DEAL VALUES ('LOT006','DL05',100,100,'08-12-2016',0.1);
INSERT INTO DEAL VALUES ('LOT006','DL06',100,100,'08-21-2018',0.1);

INSERT INTO DEAL VALUES ('LOT007','DL01',100,100,'01-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT007','DL07',100,100,'06-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT007','DL08',100,100,'08-30-2018',0.1);

INSERT INTO DEAL VALUES ('LOT008','DL01',100,100,'07-07-2018',0.1);

INSERT INTO DEAL VALUES ('LOT009','DL10',100,100,'08-08-2018',0.1);

INSERT INTO DEAL VALUES ('LOT010','DL06',100,100,'09-03-2018',0.1);
INSERT INTO DEAL VALUES ('LOT010','DL07',100,100,'08-05-2018',0.1);
INSERT INTO DEAL VALUES ('LOT010','DL09',100,100,'06-04-2017',0.1);
INSERT INTO DEAL VALUES ('LOT010','DL10',100,100,'01-31-2018',0.1);

INSERT INTO DEAL VALUES ('LOT011','DL04',100,100,'07-11-2018',0.1);
INSERT INTO DEAL VALUES ('LOT011','DL07',100,100,'07-15-2018',0.1);
INSERT INTO DEAL VALUES ('LOT011','DL08',100,100,'07-16-2018',0.1);

INSERT INTO DEAL VALUES ('LOT012','DL03',100,100,'08-08-2018',0.1);

INSERT INTO DEAL VALUES ('LOT013','DL02',100,100,'08-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT013','DL03',100,100,'12-18-2018',0.1);
INSERT INTO DEAL VALUES ('LOT013','DL05',100,100,'08-30-2018',0.1);

INSERT INTO DEAL VALUES ('LOT014','DL01',100,100,'03-08-2018',0.1);
INSERT INTO DEAL VALUES ('LOT014','DL06',100,100,'03-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT014','DL07',100,100,'03-08-2018',0.1);

INSERT INTO DEAL VALUES ('LOT015','DL06',100,100,'07-20-2018',0.1);
INSERT INTO DEAL VALUES ('LOT015','DL08',100,100,'06-11-2018',0.1);

INSERT INTO DEAL VALUES ('LOT016','DL07',100,100,'04-12-2018',0.1);
INSERT INTO DEAL VALUES ('LOT016','DL10',100,100,'03-21-2018',0.1);

INSERT INTO DEAL VALUES ('LOT017','DL08',100,100,'01-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT017','DL09',100,100,'01-30-2017',0.1);
INSERT INTO DEAL VALUES ('LOT017','DL10',100,100,'03-30-2018',0.1);

INSERT INTO DEAL VALUES ('LOT018','DL04',100,100,'07-01-2016',0.1);
INSERT INTO DEAL VALUES ('LOT018','DL06',100,100,'05-20-2016',0.1);
INSERT INTO DEAL VALUES ('LOT018','DL08',100,100,'03-10-2018',0.1);
INSERT INTO DEAL VALUES ('LOT018','DL09',100,100,'04-12-2018',0.1);
INSERT INTO DEAL VALUES ('LOT018','DL10',100,100,'06-30-2018',0.1);

INSERT INTO DEAL VALUES ('LOT019','DL01',100,100,'08-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL02',100,100,'08-03-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL03',100,100,'08-03-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL06',100,100,'08-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL07',100,100,'08-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL08',100,100,'08-06-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL09',100,100,'08-08-2018',0.1);
INSERT INTO DEAL VALUES ('LOT019','DL10',100,100,'08-08-2018',0.1);

INSERT INTO DEAL VALUES ('LOT020','DL01',100,100,'07-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL02',100,100,'06-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL03',100,100,'05-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL04',100,100,'04-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL05',100,100,'03-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL07',100,100,'02-22-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL08',100,100,'01-30-2018',0.1);
INSERT INTO DEAL VALUES ('LOT020','DL09',100,100,'06-17-2017',0.1);